<a href="https://colab.research.google.com/github/fpcnano/daa_2021_1/blob/master/26octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [2]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [3]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

6

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))